{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link class="minilogo" rel="icon" href="{% static 'imagenes/logo_oficina_gestion_riesgo.png' %}">
    <title>PORTAFOLIO</title>
    <link rel="stylesheet" href="{% static 'css/style_galeria.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
    <script src="{% static 'js/scrip_btninicio.js' %}"></script>
    <script src="{% static 'js/script_portafolio.js' %}"></script>
    <script src="{% static 'js/script_loader.js' %}"></script>
    <script src="{% static 'js/script_galeria.js' %}"></script>
</head>
<body>
  <div id="overlay" class="overlay-loader">
      <div id="loader" class="loader"></div>
  </div>
  <button id="backToTop" onclick="scrollToTop()">↑</button>
  <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
      </label>
      <a href="{% url 'index' %}" class="enlace">
          <img src="{% static 'imagenes/logo_oficina_gestion_riesgo.png' %}" class="logoeco">
      </a>
      <ul>
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
          <li><a href="{% url 'galeria' %}">Galería</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
      </ul>
  </nav>
    <section>
        <br>
        <br>
        <br>
      <div class="fondo">
        <center><h1>GALERIA DE IMAGENES</h1></center>
        <div class="container">
          <img src="{% static 'imagenes/portafolio/IMG1.jpg' %}" alt="Imagen 1" class="image">
          <img src="{% static 'imagenes/portafolio/IMG2.jpg' %}" alt="Imagen 2" class="image">
          <img src="{% static 'imagenes/portafolio/IMG3.jpg' %}" alt="Imagen 3" class="image">
          <img src="{% static 'imagenes/portafolio/IMG4.jpg' %}" alt="Imagen 4" class="image">
          <img src="{% static 'imagenes/portafolio/IMG5.jpg' %}" alt="Imagen 5" class="image">
          <img src="{% static 'imagenes/portafolio/IMG6.jpg' %}" alt="Imagen 6" class="image">
          <img src="{% static 'imagenes/portafolio/IMG7.jpg' %}" alt="Imagen 7" class="image">
          <img src="{% static 'imagenes/portafolio/IMG8.jpg' %}" alt="Imagen 8" class="image">
          <img src="{% static 'imagenes/portafolio/IMG9.jpg' %}" alt="Imagen 9" class="image">
          <img src="{% static 'imagenes/portafolio/IMG10.jpg' %}" alt="Imagen 10" class="image">
          <img src="{% static 'imagenes/portafolio/IMG11.jpg' %}" alt="Imagen 11" class="image">
          <img src="{% static 'imagenes/portafolio/IMG12.jpg' %}" alt="Imagen 12" class="image">
          <img src="{% static 'imagenes/portafolio/IMG13.jpg' %}" alt="Imagen 13" class="image">
          <img src="{% static 'imagenes/portafolio/IMG14.jpg' %}" alt="Imagen 14" class="image">
          <img src="{% static 'imagenes/portafolio/IMG15.jpg' %}" alt="Imagen 15" class="image">
          <img src="{% static 'imagenes/portafolio/IMG16.jpg' %}" alt="Imagen 16" class="image">
          <img src="{% static 'imagenes/portafolio/IMG17.jpg' %}" alt="Imagen 17" class="image">
          <img src="{% static 'imagenes/portafolio/IMG18.jpg' %}" alt="Imagen 18" class="image">
          <img src="{% static 'imagenes/portafolio/IMG19.jpg' %}" alt="Imagen 19" class="image">
          <img src="{% static 'imagenes/portafolio/IMG20.jpg' %}" alt="Imagen 20" class="image">
          <img src="{% static 'imagenes/portafolio/IMG21.jpg' %}" alt="Imagen 21" class="image">
          <img src="{% static 'imagenes/portafolio/IMG22.jpg' %}" alt="Imagen 22" class="image">
          <img src="{% static 'imagenes/portafolio/IMG23.jpg' %}" alt="Imagen 23" class="image">
          <img src="{% static 'imagenes/portafolio/IMG24.jpg' %}" alt="Imagen 24" class="image">
          <img src="{% static 'imagenes/portafolio/IMG25.jpg' %}" alt="Imagen 25" class="image">
          <img src="{% static 'imagenes/portafolio/IMG26.jpg' %}" alt="Imagen 26" class="image">
          <img src="{% static 'imagenes/portafolio/IMG27.jpg' %}" alt="Imagen 27" class="image">
          <img src="{% static 'imagenes/portafolio/IMG28.jpg' %}" alt="Imagen 28" class="image">
          <img src="{% static 'imagenes/portafolio/IMG29.jpg' %}" alt="Imagen 29" class="image">
          <img src="{% static 'imagenes/portafolio/IMG30.jpg' %}" alt="Imagen 30" class="image">
          <img src="{% static 'imagenes/portafolio/IMG31.jpg' %}" alt="Imagen 31" class="image">
          <img src="{% static 'imagenes/portafolio/IMG32.jpg' %}" alt="Imagen 32" class="image">
          <img src="{% static 'imagenes/portafolio/IMG33.jpg' %}" alt="Imagen 33" class="image">
          <img src="{% static 'imagenes/portafolio/IMG34.jpg' %}" alt="Imagen 34" class="image">
          <img src="{% static 'imagenes/portafolio/IMG35.jpg' %}" alt="Imagen 35" class="image">
      </div>
        <div id="image-overlay" class="image-overlay">
          <div class="expanded-image-container">
              <span id="close-btn" class="close-btn"> × </span>
              <img id="expanded-image" class="expanded-image" src="" alt="Imagen expandida" />
              <button id="prev-btn" class="nav-btn">←</button>
              <button id="next-btn" class="nav-btn">→</button>
          </div>
      </div>
      </div>
      </div>
    </section>
    <footer>
      <div class="footer-content">
          <div class="logo_footer">
              <img src="{% static 'imagenes/ecoparm.png' %}" class="logo">
          </div>
          <div class="texto_footer">
              <p>&copy; 2024 ECOPARM. Todos los derechos reservados.</p>
              <p>
                  <a href="https://web.facebook.com/people/Paramos-de-Colombia-Fuente-de-Vida/100070184100855/?locale=es_LA" target="_blank">Facebook</a> | 
                  <a href="https://www.instagram.com/paramosdecolombia/" target="_blank">Instagram</a> | 
                  <a href="#">WhatsApp</a>
              </p>
          </div>
      </div>
  </footer>
</body>
</html>