*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neonderthaw", cursive;;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background-image: url("imagenes/login.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper{
  width: 380px;
  background: #fefae0f0;
  border-radius: 35px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #ffffff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #32794a, #0c0c0c);
  font-family: "Shrikhand", serif;

}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input,
.wrapper form .field select {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 35px;
  transition: all 0.3s ease;
  background-color: #cf141400;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Shrikhand", serif;
}

.field option {
  background: none;
  border-radius: #32794a;
}

.wrapper form .field input:focus,
.wrapper form .field select:focus,
form .field input:valid,
form .field select:valid{
  border-color: #32794a;
  background-color: #ffffff00;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #777777;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label,
form .field select:focus ~ label,
form .field select:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #0f413e;
  background: #fefae0f0;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 1px;
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: flex-start; /* Alineamos a la izquierda */
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alineamos a la izquierda */
}
form .content input{
  width: 20px; /* Ajuste el tamaño del checkbox */
  height: 20px; /* Ajuste el tamaño del checkbox */
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link .politicas{
  color: "";
  text-align: center;
  width: 100%;
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #32794a, #0c0c0c);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #161515;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #09630d;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}

.overlay-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Estilo para el loader */
.loader {
  border: 6px solid #000000;
  border-top: 6px solid #32794a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px; 
  z-index: 999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.checkbox a {
  color: #09630d;
  text-decoration: none;
}

.checkbox a:hover {
  text-decoration: underline;
}


/* Personalización de los checkboxes */
.checkbox input{
  appearance: none;  /* Elimina la apariencia predeterminada */
  -webkit-appearance: none;  /* Elimina la apariencia predeterminada en Safari */
  -moz-appearance: none;  /* Elimina la apariencia predeterminada en Firefox */
  width: 20px;
  height: 20px;
  border: 2px solid #777777;  /* Borde inicial */
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Estilo del checkmark */
.checkbox input[type="checkbox"]:checked {
  background-color: #32794a;  /* Cambiar el fondo cuando el checkbox esté marcado */
  border-color: #32794a;  /* Cambiar el borde cuando el checkbox esté marcado */
}

/* Crear el checkmark dentro del checkbox */
.checkbox input[type="checkbox"]:checked::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #32794a;  /* Fondo blanco para el checkmark */
  border-radius: 50%;
}